/list.tunnel
/venv/*
/logs/*
/__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
*.db
*.sqlite
*.tar.gz
*.zip
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.egg
*.egg-info/
*.tox/
.tox/
command
*.backup
.env
*.pid
test.py
test_path.py
list_port.conf
